<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://fromnkichi.github.io/fortune-of-100nin-isshu/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="今日の百人一首">
    <meta property="og:description" content="今日の運勢を百人一首を使って占ってみましょう。">
    <meta property="og:site_name" content="今日の百人一首">
    <title>今日の百人一首</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="container">
        <template v-if="!isStarted && !isStopped">
            <p class="title-content">今日の百人一首</p>
            <button @click="start" class="btn btn-primary" v-bind:disabled="!isDataLoaded">Start</button>
            <p class="title-content"><font size="3">制作・宮崎大学百人一首研究会</font></p>
        </template>
        <template v-else-if="isStarted && !isStopped">
            <p class="title-content">{{ Title }}</p>
            <img v-if="showImage" :src="ImagePath" alt="Your image">
            <button @click="stop" class="btn btn-danger">Stop</button>
            <p class="title-content"><font size="3">制作・宮崎大学百人一首研究会</font></p>
        </template>
        <template v-else>
            <div class="text-content">
                <p class="section-content">{{ stopTitle }}</p>
                <p v-for="(Poet, index) in splitPoet()" :key="index" :class="{'align-bottom': index === 1}">{{ Poet }}</p>
                <p class="align-bottom">{{ Author }}</p><br>
                <p class="section-content">今日のあなたは</p>
                <p>{{ Description }}</p><br>
                <p class="section-content">ラッキーカラー</p>
                <p class="border-content" :style="{ backgroundColor: ColorCode }">{{ ColorName + ' (' + ColorCode + ')'}}</p>
            </div>
            <div class="image-content">
                <img :src="ImagePath" alt="Image description" />
            </div>
            <div class="button-content">
                <button @click="goHome" class="btn btn-secondary">Go Home</button>
            </div>
            <p class="title-content"><font size="3">制作・宮崎大学百人一首研究会</font></p>
        </template>
    </div>

</body>

</html>